# Here you may specify the APP_NAME which is used for title tags, etc.
APP_NAME="Road to Dead Journey"

# The environment must be either local or production
APP_ENV=local
APP_DEBUG=true

# This key should be auto generated. Use the `make build-key` command
APP_KEY=

# The public reachable URL of this application. This is used for generating
# URLs in emails and other places where the application needs to create a URL
APP_URL=http://localhost

# Here you may specify how the application should write log files. For
# local development "daily" is recommended. On production "stack" is
# recommended.
LOG_CHANNEL=stack

# Here you may specify the database connection
DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=journeytodeadgod
DB_USERNAME=postgres
DB_PASSWORD=secret

# Cache / Queue and Session drivers should not be changed at all.
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=database
SESSION_LIFETIME=120

# Here you may specify the redis connection data.
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# These connections will be used for sending out mails.
MAIL_MAILER=smtp
MAIL_HOST=host.docker.internal
MAIL_PORT=2525
MAIL_USERNAME="Journey to Dead God"
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="dead-god@localhost"
MAIL_FROM_NAME="${APP_NAME}"
